<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planning notification</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; background-color: #F5F6F8;">

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <table width="600" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-radius: 10px; background-color: white; margin: 5%; padding: 40px 25px 50px 25px;">
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center">
                                        <div class="logo">
                                            <svg width="224" height="35" viewBox="0 0 224 35" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <rect width="224" height="35" fill="url(#pattern0)"/>
                                                <defs>
                                                    <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                                                        <use xlink:href="#image0_1114_5063" transform="matrix(0.000615764 0 0 0.00394089 0 -0.00640394)"/>
                                                    </pattern>
                                                </defs>
                                            </svg>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <svg width="80" height="58" viewBox="0 0 80 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.73047 32.25L25.6055 54.125L75.6055 4.125" stroke="#49AE39" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <p class="user" style="font-size: 20px; line-height: 30px; color: #5E5E5E; margin-top: 40px;">Hi [receiver]</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <div class="divider" style="height: 1px; width: 300px; margin-top: 15px; background-color: #E5E5E5; color: #E5E5E5;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <p class="text" style="font-size: 20px; line-height: 30px; font-weight: 400; color: #5E5E5E; margin-top: 10px; max-width: 700px; text-align: center;">[main_message]</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <p style="margin-top: 20px;"><a class="go-btn" href="[invitation_link]" style="text-decoration: none; display: inline-block;"><button style="padding: 20px 12px; border-radius: 8px; height: 67px; width: 306px; border: 0; background-color: #3F4B62; color: white; font-size: 18px; line-height: 27px; cursor: pointer;">Go to page</button></a></p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>